<!-- 前端分页组件：分页功能来展示数据，就像看书一样，一页展示一点数据，分页展示。
    前端通过 GET 的方式向后端提交当前所在的页数
    分页功能以后会在很多地方使用，所以将其写成一个独立的模块，以便以后重复的使用-->

<nav aria-label="...">
    <ul class="pager">
      <li><a href="<%=url%>?page=<%=page-1%>">上一页</a></li>
      <li>
        一共有 <%=count%> 条数据，每页显示 <%=limit%> 条数据，当前第 <%=page%>/<%=pages%> 页
      </li>
      <li><a href="<%=url%>?page=<%=page+1%>">下一页</a></li>
    </ul>
    </nav>