<!-- !!内容修改页面 -->
<!-- 引入页头模板 -->
<%- include("../header") %>
<!-- 内容 -->
<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><a href="/admin/content">内容首页</a></li>
    <li class="active">内容修改</li>
  </ol>
  <form method="post">
    <div class="form-group">
      <label for="title">分类</label>
      <select name="category" id="category" class="form-control">
        <%for(let i = 0, len = categories.length; i < len; i++){%>
          <%if((content.category).toString() === categories[i]._id.toString()){%>
            <option value="<%=categories[i]._id%>" selected="selected"><%=categories[i].name%></option>
          <%}else{%>
            <option value="<%=categories[i]._id%>"><%=categories[i].name%></option>
          <%}%>

        <%}%>
      </select>
    </div>
    <div class="form-group">
      <label for="title">标题</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="请输入新标题" value="<%=content.title%>">
    </div>
    <div class="form-group">
      <label for="description">简介</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="请输入新简介" value="<%=content.description%>">
    </div>
    <div class="form-group">
      <label for="content">正文</label>
      <textarea name="content" rows="9" class="form-control" placeholder="请输入新正文"><%=content.content%></textarea>
    </div>
    <button type="submit" class="btn btn-default">修改</button>
  </form>
</div>
</body>
</html>